body{
	background-color: #CCC;
}

input{
	border:0px;
	height:15px;
	width:15px;
	margin:0px;
	text-align: center;
	line-height: 15px;
	display: block;
	outline: 0px;

}

input:hover:not([readonly]){
	background-color: #ffe6e6;

}

input:focus{
	background-color:#ff8080;
}



input[readonly]{
	color:#FF69b4;
	background-color: #00CCFF;
}

table{
	border-collapse: collapse;
}

td{

	border: 1px solid #ccc;
	height: 15px;
	width: 15px;
	padding: .5px;

}



td:nth-child(3n):not(:last-child){
	border-right: 2px solid #000;
}

tr:nth-child(3n):not(:last-child){
	border-bottom: 2px solid #000;
}